<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body class="app">
    <div class="nav">
        <div class="nav-items">
            <div class="nav-header">
                <h3>Algo</h3>
                <button id="navToggle" class="nav-toggle">☰</button>
            </div>
            <div class="nav-links">
                <a href="{{url_for('dashboard')}}" class="nav-link {% if request.endpoint == 'dashboard' %}active{% endif %}">Dashboard</a>
                <a href="{{url_for('settings')}}" class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}">Settings</a>
                <a href="{{url_for('test')}}" class="nav-link {% if request.endpoint == 'test' %}active{% endif %}">test</a>
            </div>
            <div class="nav-footer">
                <a href="{{url_for('logout')}}" class="nav-link danger">Logout</a>
            </div>

        </div>
    </div>
    <div class="dash-main">
        <div class="dash-header">
            <div class="dash-title">
                <h1>Dashboard</h1>
            </div>
            <hr>
        </div>
        <div class="algorithm-wrapper">
            <div class="algorithms-top">
                <h2>Algorithms</h2>
                <button class="button sort">Filters</button>
            </div>
            
            <div class="algorithm-grid">
                {% for algorithm in algorithms %}
                <a class="algo-card" href="{{ url_for(algorithm.url_for) }}">
                    <div class="algo-image">
                        <img src="{{algorithm.image_location}}" alt="{{algorithm.name}}">
                    </div>
                    <div class="algo-title">
                        <h4>{{algorithm.name}}</h4>
                        <p class="algo-description">{{ algorithm.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="../static/js/toggle-nav.js"></script>

</body>
</html>