<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Login</title>
</head>

<body class="body">
    
    <div class="card">
        <h2>Login</h2>
        <div class="auth-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{category}}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form method="POST" class="form-container">
            {{ form.hidden_tag() }}
            <div class="input-container">
                {{ form.email_or_username(class="input-field") }}
            </div>
            <div class="input-container">
                {{ form.password(class="input-field") }}
            </div>
            {{ form.submit(class="button") }}
        </form>

        <div class="login-or-signup">
            <a href="{{ url_for('signup') }}" class="login-or-signup">Sign up</a>
            <a href="{{ url_for('forgot_password') }}" class="login-or-signup">Forgot Password?</a>
        </div>
    </div>
    <script src="../static/js/message-popup.js"></script>

</body>
</html>
