<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Sort</title>
    <link rel="stylesheet" href="../static/index.css">
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body class="app">
    <div class="auth-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{category}}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    <div class="nav">
        <div class="nav-items">
            <div class="nav-header">
                <h3>Algo</h3>
                <button id="navToggle" class="nav-toggle">☰</button>
            </div>
            <div class="nav-links">
                <a href="{{url_for('dashboard')}}" class="nav-link {% if request.endpoint == 'dashboard' %}active{% endif %}">Dashboard</a>
                <a href="{{url_for('settings')}}" class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}">Settings</a>
            </div>
            <div class="nav-footer">
                <a href="{{url_for('logout')}}" class="nav-link danger">Logout</a>
            </div>

        </div>
    </div>
    <div class="algorithm-main">
        {% if not sorted_list %}
        <div class="algorithm-description">
            <h1>Bubble Sort</h1>
            <p><br>“The simplest sorting algorithm” (Geek for Geeks bubble sort algorithm ). It works by swapping items in an array one by one (if they are not in order) through passes until the list is sorted. Once a pass is performed with no changes, the list is sorted.<br><br>The time complexity is \(O(n^2)\) . This is because a list has a maximum of n passes and in each pass there are a maximum of n comparisons. \(n\times n = n^2\).<br><br> In this tutorial you will see a demonstration of bubble sort and you will the condition which needs to be satisfied in order for two items to be swapped. I will come back and finish this definition later. <br><br> Enter comma separated values into the input field below and you can be taught this tutorial with those values. Two valid examples are 9,2,66,3 or John,Tom,Dom <br><br>  </p>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <p>Enter items</p>
                    {{ form.items(class="input-field") }}
                    <label class="checkbox-container">
                        {{ form.is_ascending(class="checkbox-input") }}
                        <span class="checkbox-custom"></span>
                        <p>Ascending order</p>
                    </label>
                    {{ form.submit(class="button") }}
                </form>
        </div>
        {% endif %}


        {% if sorted_list %}
            <div class="algorithm-explanation">
                <div class="algorithm-explanation-container">
                    <div class="visualiser">
                        <h1>Bubble Sort</h1>
                        <hr>
                        <div class="bubble-sort-visualisation" id="array-container"> 
                            
                        </div>
                    </div>
                    

                    <div class="explanation-section-card">
                        <div class="explanation-section">

                            <div class="steps-container" id="explanation-container">
                            </div>
                            <div class="step-container">
                                <button type="button" class="button" id="prev-btn">Previous</button>
                                <button type="button" class="button" id="next-btn">Next</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
    <script src="../../static/js/message-popup.js"></script>
    <script src="../../static/js/toggle-nav.js"></script>
    {% if sorted_list %}
    <script>
        window.array_steps = {{ array_steps | tojson | safe }};
        window.compare_indices = {{ compare_indices | tojson | safe }};
        window.steps = {{ steps | tojson | safe }};
    </script>
        <script src="{{ url_for('static', filename='js/algorithms/bubble-sort.js') }}"></script>
    {% endif %}
</body>
</html>